<div style="background-color:#f2ffcc ;">
<h1>Color Selection</h1>

<h3><span style="color: purple;">Different</span> <span style="color: blue;"> colors </span> <span style="color: green;">will</span><span style="color: yellow;"> be </span> <span style="color: orange;">available</span> <span style="color: red;"> soon... </span></h3>

</div>