@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #e6ffff;">
    <h1 class="display-4">Welcome</h1>
    <p style="background-color: lightgray; color: brown;font-family: italic;">This is a platform where service history of vehicle(s) can be tracked.</p>
</div>

<div>
    <img src="@Url.Content("~/wwwroot/cars-12.jpg")">
</div>
