@{
    ViewData["Title"] = "List of available vehicles";
}
<h1>@ViewData["Title"]</h1>
@* 
<p>List of make(s) and model(s)</p>

<ul>
    <li>Honda Civic</li>
    <li>Toyota Corolla</li>
    <li>Nissan Maxima</li>
    <li>Chevy Cruze</li>
</ul> *@
